@use './common.scss' as *;

/* 
고칠 점 ... 
1. 전체적으로 svg 아이콘 크기 조정 -> 오른쪽 상단 검색 아이콘 색도 바꿔야됨
2. 로고 png로 바꾸던가해서 배경 검정 없애기
3. 상단 광고 배너 어케 좀 하기
4. responsive.scss로 줄이면 flex-flow:column nowrap되도록 만들기
5. 제일 왼쪽 작은 사진 thumnail들 높이 조정
6. 작은 사진 화살표... background 조정 + border-radius 조정해서 원 만들기
7. 작은 사진 아래는 gradient 줘서 좀 가려져야됨 // 게다가 이거 눌러서 이동 가능하게 만들
8. 7(위) 자바스크립트랑 같은 맥락으로 카드부분도 눌러서 이동 가능하도록 만들어야 함
9. 수량 변경 시 가격 이상하게 나오는거 고치기!!! 그리고 옆에 (1개) 이것도 바뀌도록 html에서 em이라던가 뭐든 태그 추가해서 js 삽입
10. 좋아요 버튼 바꾸기. 하트 빈걸로 .. 그리고 누르면 채워진걸로 나오도록 -> 반복 가능하게
11. 장바구니 버튼이랑 바로구매 버튼 // 로그인 시 누르면 각 페이지로 이동 // 로그아웃 시 누르면 로그인 페이지로 이동하도록 js 추가
12. 큰 사진도 붙잡고 좌우로 움직일 수 있도록 -> 왼쪽 썸네일 애니메이션도 함께 움직여야됨. 
13. responsive 할거면 메뉴도 없애고 머 등등 해보자잇
14. 작은 이미지에 hover 추가. 약간 흐려지게 만듦, 클릭하면 border 생김 
    움직임은 자연스럽 ... 그리고 transition있는 것 가틈
    밑에 원도 있음 원이 선택된 건 큰 원 검정색이 되고 비활성화는 회색 작아짐 근데 눌리진 않음
*/

body {
    header {
        .top_bar_banner { background-color: $color-black;
            height: 40px;
            img {width: 100%; height: 100%}
        }
        .header_menu { 
            @include flex-row; justify-content: space-between;
            margin:0 100px; height: 90px;
            h1 {   
                img{width: 157px;}}
            .header_menu_list {
                @include flex-row; gap:60px;
                li { line-height: 90px; a{ height: 100%; font-size:$font-size-lastbtn; font-weight: $weight-medium;}}
            }
            .header_icons {
                @include flex-row; gap:20px;
                li { 
                    button {svg{}}
                    a {svg{}}
                }
            }
        }
    }
    #wrap { @include w1400; margin-top:40px; @include flex-col; gap:20px; 
        .nav { @include flex-row; gap:8px;
            li { font-size:$font-size-s;
                a {@include flex-row; gap:3px }
            } /* ">" ============================================================================after로 어디에 어떻게 넣지???????????????????????????????????????? */
        }
        .main_contents { @include flex-row; justify-content: center; gap:80px;
            .left_contents { @include flex-row; gap:20px; justify-content: center;
                .left_preview { height: 678px;
                    li {
                        .arrow {}} /* 개별 선택자 top_arrow, bottom_arrow */  /* ================아래 화살표 위치 설정 어떻게? */
                    .smallphoto_list { 
                        @include flex-col; gap:6px;
                        .preview {
                        width: 84px; height: 84px; overflow:hidden; /* =-===========================사진 가운데로 오게 어케하지???????? */
                        img{width: 100%; size:cover;}
                        }
                    } /* 개별 선택자 small1~10 */
                }
            }
            .big_view { width: 508px; height: 678px;
                @include flex-row; overflow: hidden;
                .photo {/* 개별 선택자 big1~10 */
                    img {width: 508px;}
                }
            }
        }
        .right_contents { width: 706px; 
            @include flex-col; gap:30px;
            .product_info { 
                .line1 {@include flex-row; gap:50px;
                    h2 {line-height: 120%; font-size:$font-size-xxl; font-weight: $weight-semibold; }
                    a { width: 24px; height: 24px; img{width: 100%;}}
                } /* ========================================================================================svg============================= */
                p {margin-top:20px; font-size:$font-size-m;}
            }
            .price_info {position:relative;
                width: 100%;
                p { font-size:$font-size-l;
                    em {font-size:$font-size-s; color:$color-gray3; }
                    strong {color:$color-point;font-weight: $weight-semibold;}
                }
                p:nth-child(2) {margin-top:5px; font-size:$font-size-xl; font-weight: $weight-semibold;}
                .hidden_price_info {
                    display:none; 
                    font-size:$font-size-s;
                    padding:10px; border-radius: 10px; 
                    background-color:$color-gray3;
                    position:absolute; left:250px;
                    color:$color-white
                }
            }
            #all { width: 706px;  overflow: hidden;
                background-color:aqua; padding:5px;
                .info_card { 
                    display:flex; flex-flow:row nowrap;
                    gap:14px; width: clac(448px*2); transition: transform 0.3s ease-out;
                    .card { /* 개별 선택자 card1~4 */
                        flex-shrink: 0; min-width: 280px;  
                        @include cardbox; 
                        @include flex-row; gap:6px; align-items: center; 
                        dt {font-size:$font-size-s; 
                            width: 60px;
                            img {}}
                        dd {line-height: 120%; font-size:$font-size-carddd; width:100%;}
                    }
                    .card1 {@include flex-row; gap:15px;
                        dt {
                            width:35px; height: 35px; 
                            img {width: 100%; }
                        }
                        dd {
                            .card1dt {font-size:$font-size-xxs; line-height: 120%; }
                            font-size:$font-size-carddd; 
                        }
                    } /* ========================================================================== 얘 혼자 디자인 다름!!!!!!!!!!!!! */
                }
            }
            .shippay_info {width: 100%;
                padding: 30px 0; 
                border-top: 1px solid $color-gray2-line;
                border-bottom: 1px solid $color-gray2-line;
                dt {font-size: $font-size-xxs;}
                dd {font-size: $font-size-xxs;}
            }
            .order_box { width: 100%;
                border-radius: 10px;
                border:1px solid $color-gray2-line;
                padding: 24px; 
                .order_product_name {margin-bottom:30px;font-weight: $weight-semibold;}
                .order_num_view {float:left; 
                    border:1px solid $color-gray2-line; width: max-content;
                    #minus_btn {
                        width: 30px; height: 30px;
                    }
                    #order_num {text-align:center; width: 45px; height: 30px;} /* input */
                    #plus_btn {
                        width: 30px; height: 30px;
                    }
                }
                .order_price {float: right; font-weight: $weight-semibold;
                font-size:$font-size-l}
            }
            .order_result {
                @include flex-row; justify-content: space-between; width: 100%;;
                p {font-size:$font-size-m; font-weight:$weight-semibold;
                    em {font-size:$font-size-xxl;font-weight:$weight-semibold;}
                    span{font-size:$font-size-s ;}}
            }
            .right_btm_btn { width: 100%; @include flex-row; 
                #like_btn {
                    height: 60px;background-color:$color-gray3; 
                    width: 58px; margin-right:5px;border-radius: 10px; 
                    border:1px solid $color-black;
                }
                .last_btn {/* 공통 */
                    height: 60px; border:1px solid $color-black; border-radius: 10px;
                    width: 100%; @include flex-row; overflow: hidden;
                    .last_btn_cart {
                        line-height:60px; width: 100%; 
                        text-align: center;
                    } /* 개별 */
                    .last_btn_buy {
                        line-height:60px; width: 100%; 
                        background-color:$color-black; text-align: center;
                        color:$color-white
                    } /* 개별 */
                }
            }
            .sub_detail {
                p {font-size:$font-size-s;
                    em{
                        font-weight: $weight-semibold;
                    }
                }
            }
        }
    }
}